@implements IAsyncDisposable
@inject IJSRuntime jsRuntime
@inject ILogger<Wizard> logger
@namespace CrahunComponents

<CascadingValue Value="this" Name="Parent" IsFixed="true">
    @ChildContent
</CascadingValue>

<div class="card wizard-card-no-shadow" data-color="@Colors" id="@Id" style="border: none !important;">
    <div class="wizard-header">
        <h3 class="wizard-title h3-wizard">@Title</h3>
    </div>
    <div>
        <div class="wizard-navigation">
            <ul class="nav nav-pills" style="margin-bottom: 1.5em">
                @{
                    for (int i = 1; i <= Steps.Count; i++)
                    {
                        int i_local = i;
                        var step = Steps[i - 1];

                        <li class="nav-item" @key="step">
                            <a class="nav-link"
                               style="cursor: @(DisableNavigationLinks ? "default" : "pointer")" 
                               @onclick="@(() => NavigationLinkClicked(i_local))">@(step?.Name ?? "Step")</a>
                        </li>
                    }
                }
            </ul>
            <div class="moving-tab" style="background-color: @Colors; cursor: @(DisableNavigationLinks ? "default" : "pointer")"></div>

        </div>
        <div id="container-fluid">
            <div id="tab-content">
                @{
                    for (int i = 1; i <= Steps.Count; i++)
                    {
                        var step = Steps[i - 1];

                        if (currentStep == i)
                        {
                            @step.ChildContent;
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="wizard-footer">
        @if (!IsFirstStep())
        {
            <div class="pull-left">
                <button class="btn-wizard btn-wizard-previous btn-wizard-fill btn-wizard-wd" style="background-color: @PreviousButtonColor" type="button" disabled="@(PreviousButtonDisabled || IsFirstStep())" @onclick="@PreviousPage">@PreviousButtonText</button>
            </div>
        }
        @if (IsLastStep())
        {
            <div class="pull-right">
                <button class="btn-wizard btn-wizard-next btn-wizard-fill btn-wizard-wd" style="background-color: @FinishButtonColor" type="button" disabled="@FinishButtonDisabled" @onclick="@Finished">@FinishedButtonText</button>
            </div>
        }
        else
        {
            <div class="pull-right">
                <button class="btn-wizard btn-wizard-next btn-wizard-fill btn-wizard-wd" style="background-color: @NextButtonColor" type="button" disabled="@NextButtonDisabled" @onclick="@NextPage">@NextButtonText</button>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>

@code {
    #region Parameters
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Colors { get; set; } = "red";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnPrevious { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback OnFinished { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectedStep { get; set; }

    [Parameter]
    public string PreviousButtonColor { get; set; }

    [Parameter]
    public string NextButtonColor { get; set; }

    [Parameter]
    public string FinishButtonColor { get; set; } = "red";

    [Parameter]
    public string NextButtonText { get; set; } = "Next";

    [Parameter]
    public string PreviousButtonText { get; set; } = "Previous";

    [Parameter]
    public string FinishedButtonText { get; set; } = "Finished";

    [Parameter]
    public bool PreviousButtonDisabled { get; set; }

    [Parameter]
    public bool NextButtonDisabled { get; set; }

    [Parameter]
    public bool FinishButtonDisabled { get; set; }

    [Parameter]
    public bool DisableNavigationLinks { get; set; }

    #endregion
    #region Instance variables
    private List<Step> Steps = new List<Step>();
    private int currentStep = 1;

    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => _module ??= jsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/CrahunBlazorComponents/wizard/wizard.js").AsTask();

    private static int instanceNumber;
    private string Id = $"wizard{instanceNumber}";
    #endregion
    #region Methods
    public void AddStep(Step step)
    {
        Steps.Add(step);
        StateHasChanged();
    }

    public bool IsFirstStep() => currentStep == 1;
    public bool IsLastStep() => currentStep == Steps.Count;

    public async Task SetActivePage(int currentIndex)
    {
        if (Steps.Count < currentIndex)
        {
            string error = "Tried to navigate to non existing step index";
            logger.LogCritical(error);
            throw new InvalidOperationException(error);
        }

        await OnSelectedStep.InvokeAsync(currentIndex);

        if (currentIndex == currentStep)
        {
            return;
        }

        currentStep = currentIndex;
        StateHasChanged();
    }

    public async Task NextPage()
    {
        if (NextButtonDisabled)
        {
            return;
        }

        if (IsLastStep())
        {
            string error = "Current page is the last one. You can not go to the next";
            logger.LogCritical(error);
            throw new InvalidOperationException(error);
        }

        currentStep++;
        await OnNext.InvokeAsync();
    }

    public async Task PreviousPage()
    {
        if (PreviousButtonDisabled)
        {
            return;
        }

        if (IsFirstStep())
        {
            string error = "Current page is the first one. You can not go to the previous";
            logger.LogCritical(error);
            throw new InvalidOperationException(error);
        }

        currentStep--;
        await OnPrevious.InvokeAsync();
    }

    public async Task Finished()
    {
        if (FinishButtonDisabled)
        {
            return;
        }

        await OnFinished.InvokeAsync();
    }

    public async Task RefreshAnimation()
    {
        var module = await Module;
        await module.InvokeVoidAsync("refreshAnimation", Id, currentStep - 1);
    }

    private async Task NavigationLinkClicked(int index)
    {
        if (DisableNavigationLinks)
        {
            return;
        }

        await SetActivePage(index);
    }
    #endregion
    #region Lifercycle
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await RefreshAnimation();
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            var module = await _module;
            await module.DisposeAsync();
        }
    }

    public Wizard()
    {
        Wizard.instanceNumber++;
    }
    #endregion
}
