@implements IAsyncDisposable
@inject IJSRuntime jsRuntime

<CascadingValue Value="this" Name="Parent" IsFixed="false">
    @ChildContent
</CascadingValue>

<div class="card wizard-card-no-shadow" data-color="@ColorTheme.ToString().ToLower()" id="@Id" style="border: none !important">
    <div class="wizard-header">
        <h3 class="wizard-title h3-wizard">@Title</h3>
    </div>
    <div>
        <div class="wizard-navigation">
            <ul class="nav nav-pills nav-justified" style="margin-bottom: 1.5em">
                @{
                    for (int i = 1; i <= Steps.Count; i++)
                    {
                        int i_local = i;

                        <li class="nav-item" @key="i">
                            <a class="nav-link"
                               style="cursor: pointer" @onclick="@(() => SetActivePage(i_local))">Step @i</a>
                        </li>
                    }
                }
            </ul>
            <div class="moving-tab"></div>

        </div>
        <div id="container-fluid">
            <div id="tab-content">
                @{
                    for (int i = 1; i <= Steps.Count; i++)
                    {
                        var step = Steps[i - 1];

                        if (currentStep == i)
                        {
                            @step.ChildContent;
                        }
                    }
                }
            </div>
        </div>
    </div>

    <div class="wizard-footer">
        <div class="pull-left">
            <button class="btn-wizard btn-wizard-previous btn-wizard-fill btn-wizard-default btn-wizard-wd" type="button" @onclick="@PreviousPage" disabled="@IsFirstStep()">Previous</button>
        </div>

        @if (IsLastStep())
        {
            <div class="pull-right">
                <button class="btn-wizard btn-wizard-next btn-wizard-fill btn-wizard-danger btn-wizard-wd" type="button" @onclick="@Finished">Finished</button>
            </div>
        }
        else
        {
            <div class="pull-right">
                <button class="btn-wizard btn-wizard-next btn-wizard-fill btn-wizard-danger btn-wizard-wd" type="button" @onclick="@NextPage">Next</button>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "wizard";

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Colors ColorTheme { get; set; } = Colors.Red;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnPrevious { get; set; }

    [Parameter]
    public EventCallback OnNext { get; set; }

    [Parameter]
    public EventCallback OnFinished { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectedStep { get; set; }

    private List<Step> Steps = new List<Step>();
    private int currentStep = 1;

    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => _module ??= jsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/CrahunBlazorComponents/wizard/wizard.js").AsTask();

    public void AddStep(Step step)
    {
        Steps.Add(step);
        StateHasChanged();
    }

    public bool IsFirstStep() => currentStep == 1;
    public bool IsLastStep() => currentStep == Steps.Count;

    public void SetActivePage(int currentIndex)
    {
        if(Steps.Count < currentIndex)
        {
            throw new InvalidOperationException("Tried to navigate to non existing step index");
        }

        OnSelectedStep.InvokeAsync(currentIndex);

        if (currentIndex == currentStep)
        {
            return;
        }

        currentStep = currentIndex;
        _ = RefreshAnimation();
        StateHasChanged();
    }

    public void NextPage()
    {
        currentStep++;
        _ = RefreshAnimation();
        OnNext.InvokeAsync();
    }

    public void PreviousPage()
    {
        currentStep--;
        _ = RefreshAnimation();
        OnPrevious.InvokeAsync();
    }

    public void Finished()
    {
        OnFinished.InvokeAsync();
    }

    public async Task RefreshAnimation()
    {
        var module = await Module;
        await module.InvokeVoidAsync("refreshAnimation", Id, currentStep - 1);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            await RefreshAnimation();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            var module = await _module;
            await module.DisposeAsync();
        }
    }
}
